table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    background-color: #eeeeee;
    margin: 15px;
    margin-left: 0px;
}

td.long {
    white-space: normal;
    word-wrap: break-word;
}


th, td {
    border: 1px solid #ccc;
    white-space: nowrap;
    padding: 4px;
}

tr td:last-child {
    text-align: center;
}