div.row {
  display: flex;
  align-items: center;
  margin: 0;
}

div.row > *:first-child {
  margin-right: auto;
}
button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: medium;
  color: white;
}
button.add {
  background-color: #4caf50;
}

button.add:hover {
  background-color: #45a049;
}

ul.cards {
  list-style: none;
  display: flex;
  justify-items: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: -2px 0 0;
  position: relative;
  z-index: 1;
}

.game-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 200px;
  height: 200px;
}

.game-card p {
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.link {
  cursor: pointer;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-filter input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    width: 15rem;
}

.search-filter select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
    margin-left: 10px;
}