<nav>
    <ul>
        <a (click)="router.navigate([''])" (keydown.enter)="router.navigate([''])" class="nav-link" tabindex="0">Home</a>
        <a (click)="router.navigate(['/games'])" (keydown.enter)="router.navigate(['/games'])" class="nav-link" tabindex="0">Games</a>
        <a (click)="router.navigate(['/developers'])" (keydown.enter)="router.navigate(['/developers'])" class="nav-link" tabindex="0">Developers</a>
    </ul>

    <div style="padding-right: 30px;">
        <a (click)="router.navigate(['/auth'])" (keydown.enter)="router.navigate(['/auth'])" class="nav-link" tabindex="0">Login</a>
    </div>
</nav>
