ul.cards {
  list-style: none;
  display: flex;
  justify-items: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: -2px 0 0;
  position: relative;
  z-index: 1;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 200px;
  height: 200px;
}

.game-card * {
  text-align: center;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  font-size: medium;
  color: white;
}

button.add {
  background-color: #4caf50;
}

button.add:hover {
  background-color: #45a049;
}

button.edit {
  background-color: #008cba;
}

button.edit:hover {
  background-color: #007a9b;
}

button.delete {
  background-color: #f44336;
}

button.delete:hover {
  background-color: #da190b;
}

.buttons {
    display: inline-block
}

button.back {
  background: none;
  border: none;
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  padding: 0;
}